<div class="clr-row">
<div *ngFor="let poke of pokemon" class="clr-col-lg-2 clr-col-12">
  <div class="card">
    <div class="card-block">
      <div class="card-media-block">
        <img
          src="https://img.pokemondb.net/artwork/{{ poke.name }}.jpg"
          class="card-media-image"
        />
        <div class="card-media-description">
          <span class="card-media-title">
            {{ poke.name | titlecase }}
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
</div>