<header class="header-6">
  <div class="branding">
    <span class="clr-icon"><img src="assets/logo-rocket.png"/></span>
  </div>
  <div class="header-nav">
    <a
      href="javascript://"
      routerLink="/welcome"
      routerLinkActive="active"
      class="nav-link nav-text"
      >Accueil</a
    >
    <a
      href="javascript://"
      routerLink="/members-list"
      routerLinkActive="active"
      class="nav-link nav-text"
      >Membres</a
    >

    <a
      href="javascript://"
      routerLink="/rocketdex"
      routerLinkActive="active"
      class="nav-link nav-text"
      >RocketDex</a
    >
  </div>
</header>
