/*
#bar ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
	width:100%;
	margin-bottom: 10px;
  }
  
  #bar li {float:right;}
  
  #bar li a {
	display: block;
	color: white;
	text-align: center;
	padding: 16px 14px;
	text-decoration: none;
  }

  #bar .left {float:left; text-align: left;}

 #bar li .active {
	border-bottom:10px solid red;
}
*/