<div class="card">
  <div class="card-header">
    {{ person.firstname }}
  </div>
  <div class="card-block">
    <div class="card-media-block">
      <img
        src="assets/avatars/{{ person.avatar }}"
        class="card-media-image"
      />
      <div class="card-media-description">
        <span class="card-media-title">
          {{ person.function }}
        </span>
      </div>
    </div>
  </div>
  <div class="card-footer">
    <button (click)="showProfile()">Profil</button>
  </div>
</div>